html,body { height: 100%; margin: 0; padding: 0; }
#menu { position: absolute; top: 0; left; 0; width: 100%; height: 30px; border-bottom: 1px solid #999; }
#map { position: absolute; left: 0; bottom: 0; top: 30px; width: 100%; }
.border-box { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
